
/* Nav-bar */
#navbar {
    overflow: hidden;
    background-color: #333;
    padding: 5px;
  }
  
  #navbar a {
    /* float: left; */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  .content {
    padding: 16px;
  }
  
  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */
  
  /* .sticky + .content {
    padding-top: 60px;
  } */



/* img's */
.pfp {
    width: 10em;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projects {
        max-width: 100%;
        height: auto;
        width: auto\9;
        margin-top: 25px;
        margin-bottom: 10px;
}

h3, p {
    margin: 0px;
}

h3 {
    padding: 5px;
}

Body{
    margin: 0px;
}

main{
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

footer{
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

 .nav-l {
    font-size: smaller;
}

/* media queries */
@media (min-width:768px ) {


}