#navbar {
    overflow: hidden;
    background-color: #333;
    padding: 5px;
    position:sticky;
    top: 0;
  }
  
#navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
.content {
    padding: 16px;
  }
  
.pfp {
    width: 10em;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.projects {
    height: auto;
    width: auto;  
}

.card > img {
    max-width: 100%;
}

.card {
    padding: 1em;
  
}

.p2, .p3, .p4, .p1 {
    margin-top: 28px;
    margin-bottom: 8px;
    border: 1px solid rgb(207, 207, 207);
}

h3, p {
    margin: 0px;
    padding: 4px;
}

body{
    margin: auto;
    max-width: 1024px;
    
}

main{
    background-color: rgb(228, 228, 228);
}

footer{
    background-color: rgb(255, 255, 255);
    padding: 16px; 
    margin: 10px;
    border-radius: 3px;
}

.nav-l {
    font-size: smaller;
}

hr {
    margin-top: 25px;
}

.info {
    background-image: linear-gradient(to right, rgb(221, 146, 255) , rgb(179, 218, 255));
    padding: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 20em;
    border: 3px solid rgb(249, 255, 254);
    background-color: rgb(162, 223, 93);
    font-size: 15px;
    margin: 15px auto;
    border-radius: 8px;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    margin: 20px 3px;
}

footer {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

/* media queries */
@media (min-width:768px) {
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
  }
  a, p, h3, #navbar {
      font-size: 25px;  
  }
  .pfp {
    width: 12em;
    padding: 0px 15px;

  }

  .card {
    flex-basis: 45%;
    border: #333;
  }

  .card-2 {
    display: flex;
    flex-direction: row; 
    padding: 20px;
 }

 button {
    height: 50px;
    width: 15em;
    font-size: 20px;
 }






}